*{   margin : 50;   box-sizing: border-box; } .container{   display:flex;   justify-content: space-evenly;   flex-direction: column;   align-items: flex-start;   }

.middletext
{
  color: pink;
  font-size: 30px;
    font-family: sans;
}
img{
  width:300px;
}
.p1{font-family: "Times New Roman", Times, serif;
}
